@page "/Component"
@using BlazorApp1.Data;

<div id="@style">
    <p>Name: @model.Name</p>
    <p>Speed: @model.Speed (km/h)</p>
    <p>Can your pet bark: @model.CanBark().ToString()</p>
</div>

@code {

    [Parameter]
    public string style { get; set; }

    [Parameter]
    public IAnimal model { get; set; }
}