@using BlazorApp1.Data;
@page "/"

    <div id="container">
        @for(int i = 0; i < styleCollection.Length; i++)
        {
            <FourColors style="@styleCollection[i]" model="@animalList.Animal[i]" textWrapper="@textWrapperCollection[i]"/>
        }
    </div>

    <Calculator/>


@code {

    ModelAnimals animalList { get; set; }


    protected override async Task OnInitializedAsync()
    {
        animalList = new ModelAnimals();
        animalList.Animal.Add(new Cat() { Name = "Cat", Speed = "25" });
        animalList.Animal.Add(new Dog() { Name = "Dog", Speed = "30" });
        animalList.Animal.Add(new Bird() { Name = "Bird", Speed = "35" });
        animalList.Animal.Add(new Horse() { Name = "Horse", Speed = "50" });
    }

    string[] styleCollection = new string[]
    { 
        "component_Blue",
        "component_Green",
        "component_Orange",
        "component_Yellow"
    };

    string[] textWrapperCollection = new string[]
    {
        "textWrapper_0",
        "textWrapper_1",
        "textWrapper_2",
        "textWrapper_3"
    };

}