#container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 60px);
}

#component_Blue {
    background-color: blue;
    grid-column: 4/6;
    grid-row: 2/7;
}

#component_Green {
    background-color: green;
    grid-column: 6/8;
    grid-row: 2/7;
}

#component_Orange {
    background-color: orange;
    grid-column: 4/6;
    grid-row: 7/12;
}

#component_Yellow {
    background-color: yellow;
    grid-column: 6/8;
    grid-row: 7/12;
}
